@font-face
  font-family: "Neue"
  src: url("@/assets/fonts/NeueHaasGroteskDisplay-Reg.otf") format("opentype")
  font-weight: 400

@font-face
  font-family: "Neue"
  src: url("@/assets/fonts/NeueHaasGroteskDisplay-Medium.otf") format("opentype")
  font-weight: 500

@font-face
  font-family: "Canela"
  src: url("@/assets/fonts/Canela-ThinItalic.otf") format("opentype")
  font-weight: 300
  font-style: italic

@font-face
  font-family: "Canela"
  src: url("@/assets/fonts/Canela-Thin.otf") format("opentype")
  font-weight: 300
  font-style: normal

@mixin f-project-title
  font-family: "Neue"
  font-size: 14px
  font-weight: 500

@mixin f-project-title__light
  font-family: "Neue"
  font-size: 14px
  font-weight: 400

@mixin f-nav-link
  font-family: "Neue"
  font-size: 18px
  font-weight: 400

@mixin f-nav-link__active
  font-family: "Canela"
  font-style: italic
  font-size: 19px
  font-weight: 300

h1
  font-family: "Neue"
  font-size: 96px
  font-weight: 400
  color: $c-white

h2
  font-family: "Canela"
  font-style: normal
  font-size: 96px
  font-weight: 300
  color: $c-grey-6

  em
    font-style: italic

p
  @include f-nav-link
  color: $c-grey-4

  em
    font-family: "Canela"
    color: $c-primary

h3
  @include f-project-title__light
  color: $c-grey-6

  &.about__heading
    font-family: "Canela"
    font-style: normal
    font-size: 32px
