// colors
$c-white: #FFF
$c-grey-6: #f2f2f2
$c-grey-5: #E0E0E0
$c-grey-4: #BDBDBD
$c-grey-3: #828282
$c-grey-2: #4F4F4F
$c-grey-1: #333333
$c-black: #121212
$c-primary: #FF6006
$c-green: #03FF95

$c-black-transparent: rgba(18, 18, 18, .4)

// borders
$b-width: 2px
$b-radius: 8px
$b-style: $b-width solid $c-grey-6

// sizes
// TODO

@mixin blur-bg
  background-color: rgba(18, 18, 18, .4)
  backdrop-filter: blur(14px)
  -webkit-backdrop-filter: blur(14px)

@mixin bordered
  border: $b-style
  border-radius: $b-radius

.hover_underline
  position: relative

  &:after
    position: absolute
    content: ""
    bottom: -2px
    left: 0
    background-color: $c-primary
    height: 1px
    width: 100%
    transform: scaleX(0)
    transition: transform .3s ease-in
    transform-origin: center right

  &:not(.router-link-active):hover:after
    transform: scaleX(1)
    transform-origin: center left

.hover_underline__parent:hover .hover_underline:after
  transform: scaleX(1)
  transform-origin: center left

@mixin dotted
  background-image: radial-gradient($c-grey-2 1px, transparent 0)
  background-size: 24px 24px
  background-position: center center

.dotted
  @include dotted

.flag
  height: 18px

  *
    fill: none
    stroke: $c-grey-4
    stroke-miterlimit: 10
    stroke-width: 0.75px
    transition: stroke .3s linear 0s

.table__row:hover .flag *
  stroke: $c-primary

.fade-enter-active, .fade-leave-active
  transition: opacity .5s

.fade-enter, .fade-leave-to
  opacity: 0
